/* header */
.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  border-radius: 45px;
  margin-top: 30px;
}

.header .inner-logo img {
  height: 30px;
  width: auto;
}

.header .inner-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .inner-menu ul li {
  margin-left: 25px;
}

.header .inner-menu ul li a {
  color: var(--color-text);
  font-size: 13px;
  font-weight: 500;
}

.header .inner-menu ul li a:hover {
  color: var(--color-two);
  cursor: pointer;
}

.header .inner-menu ul li a.active {
  color: var(--color-two);
}
/* end header */
